.container {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(24, 23, 24);
}

.logo {
  font-size: x-large;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 500;
}